@import "../../style-config/mixing.scss";
@import "../../style-config/variable.scss";

.portfolio-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    @include small-screen {
        width: 100%;
        margin-bottom: 75px;
    }
}